/*!
* @CustomCss
* @version 1.0.0 | 2023.01.02 Updates
*/
.headerIn{overflow:inherit;padding:0;}
.containerIn{margin:0;}
.footerIn{overflow:inherit;padding:0;margin-top:24px;}
.headerIn .boardSearch{margin-top:0;}

.select2-container{}
.select2-container .select2-selection--single{height:40px;}
.select2-container .select2-selection--single .select2-selection__rendered{padding-left:12px;padding-right:10px;}

.select2-container .select2-selection--multiple{position:relative;min-height:40px;height:40px;cursor:pointer;}
.select2-container .select2-selection--multiple:after{content:'';position:absolute;right:15px;top:15px;width:12px;height:12px;background:url('../../home/imgs/board/select2_arrow.svg') no-repeat 0 0;}
.select2-container .select2-selection--multiple .select2-selection__rendered{padding-left:12px;}
.select2-dropdown{border-color:#e4e6ea;border-radius:5px;}
.select2-results{}
.select2-results__option{padding:9px 10px 10px 12px;}
.select2-results__option[aria-selected="true"] .check:before{background-position:-22px -1px;}
.select2-container--open .select2-dropdown{border-color:#407aec;}

/* Default */
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple{position:relative;border-color:#e4e6ea;border-radius:5px;}
.select2-container--default .select2-selection--single .select2-selection__rendered{color:#222;line-height:37px;}
.select2-container--default .select2-selection--single .select2-selection__placeholder{color:#222;}
.select2-container--default .select2-selection--single .select2-selection__arrow{width:26px;height:38px;}
.select2-container--default .select2-selection--single .select2-selection__arrow b{width:12px;height:12px;left:0;border:0;margin:-6px 0 0 0;background:url('../../home/imgs/board/select2_arrow.svg') no-repeat 0 0;}
.select2-container--default.select2-container--disabled .select2-selection--single{border-color:#e4e6ea;background:#f2f2f2;}
.select2-container--default.select2-container--disabled .select2-selection__rendered{color:#747474;}
.select2-container--default .select2-search--inline{}
.select2-container--default .select2-search--inline .select2-search__field{cursor:pointer;}
.select2-container--default .select2-selection--multiple .select2-selection__choice{}
.select2-container--default .select2-selection--multiple .select2-selection__rendered{display:block;height:38px;padding-right:28px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li{/*display:inline;*/position:relative;margin-right:0;/*float:none;*/padding:0;}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li:before{content:', '}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li:first-child:before{content:none;}

.select2-container--default .select2-selection--multiple .select2-selection__choice{border:0;background:transparent;}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{display:none;}
.select2-container--default.select2-container--open .select2-selection--single,
.select2-container--default.select2-container--open .select2-selection--multiple{border-color:#407aec;}
.select2-container--default.select2-container--focus .select2-selection--multiple{border-color:#407aec;}
.select2-container--default .select2-results > .select2-results__options>li:only-child{border-radius:0 0 5px 5px;}
.select2-container--default .select2-results__option[aria-selected=true]{}
.select2-container--default .select2-results__option--highlighted[aria-selected]{background-color:#f2f2f2;color:#222;}

.select2-container--default.multiple_select2 .select2-results__option{position:relative;padding-left:40px;}
.select2-container--default.multiple_select2 .select2-results__option:before{content:'';display:block;position:absolute;top:50%;left:12px;width:20px;height:20px;margin-top:-10px;background:url('../../home/imgs/main/icon_checkbox.svg') no-repeat -1px -1px;}
.select2-container--default.multiple_select2 .select2-results__option[aria-selected=true]:before{background-position:-22px -1px;}

.mCSB_scrollTools .mCSB_draggerRail{background-color:#fff;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:6px;border-radius:20px;background-color:#d9d9d9;}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background-color:#d9d9d9;}

.conPat{margin-bottom:0;padding:0;background:none;}
.conPad{padding:0;}


.chart-container{}



/* Modal */
@-webkit-keyframes showOverlay{
	from{visibility:hidden;opacity:0;}
	to{visibility:visible;opacity:1;}
}
@keyframes showOverlay{
	from{visibility:hidden;opacity:0;}
	to{visibility:visible;opacity:1;}
}
@-webkit-keyframes hideOverlay{
	from{visibility:visible;opacity:1;}
	to{visibility:hidden;opacity:0;}
}
@keyframes hideOverlay{
	from{visibility:visible;opacity:1;}
	to{visibility:hidden;opacity:0;}
}
@-webkit-keyframes showModal{
	from{opacity:0;transform:translateY(50%);}
	to{opacity:1;transform:none;}
}
@keyframes showModal{
	from{opacity:0;transform:translateY(50%);}
	to{opacity:1;transform:none;}
}
@-webkit-keyframes hideModal{
	from{opacity:1;transform:none;}
	to{opacity:0;transform:translateY(50%);}
}
@keyframes hideModal{
	from{opacity:1;transform:none;}
	to{opacity:0;transform:translateY(50%);}
}
.overlay{position:fixed;z-index:100;top:0;left:0;display:flex;justify-content:center;align-items:center;width:100%;height:100%;pointer-events:none;opacity:0;-webkit-animation-duration:200ms;animation-duration:200ms;-webkit-animation-timing-function:linear;animation-timing-function:linear;-webkit-animation-fill-mode:both;			animation-fill-mode:both;will-change:transform, opacity;}
.overlay[data-backdrop]{background:rgba(0, 0, 0, 0.6);}
.overlay[data-opened=true]{pointer-events:auto;-webkit-animation-name:showOverlay;	animation-name:showOverlay; }
.overlay[data-opened=false]{-webkit-animation-name:hideOverlay;animation-name:hideOverlay; }
.overlay[data-opened=false]:not([data-type=alert]){-webkit-animation-delay:300ms;animation-delay:300ms;}
.modal{position:relative;display:flex;overflow:hidden;flex-direction:column;width:100%;height:100%;text-align:left;background:#fff;box-shadow:0 4px 24px rgba(0, 0, 0, 0.3);
opacity:0;-webkit-animation-duration:300ms;animation-duration:300ms;-webkit-animation-fill-mode:both;animation-fill-mode:both;will-change:transform, opacity;}
@media (min-width:640px){
	.modal{max-width:720px;height:auto;max-height:100%;margin:1.5rem;border-radius:4px;}
}
[data-type=alert] .modal{max-width:360px;height:auto;margin:1rem;text-align:center;border-radius:4px;}
.overlay[data-opened=true] .modal{-webkit-animation-name:showModal;animation-name:showModal;-webkit-animation-timing-function:cubic-bezier(0, 0, 0.2, 1);animation-timing-function:cubic-bezier(0, 0, 0.2, 1);}
.overlay[data-opened=true]:not([data-type=alert]) .modal{-webkit-animation-delay:200ms;animation-delay:200ms;}
.overlay[data-opened=false] .modal{-webkit-animation-name:hideModal;animation-name:hideModal;-webkit-animation-timing-function:cubic-bezier(0.4, 0, 1, 1);animation-timing-function:cubic-bezier(0.4, 0, 1, 1);}
.modal_header{position:relative;display:flex;justify-content:center;align-items:center;flex-shrink:0;min-height:3rem;padding:0.75rem 1rem;color:rgba(0, 0, 0, 0.6);}
.modal_title{margin:0;font-size:1.25rem;font-weight:700;line-height:calc(1em + 0.5rem);}
.modal_content{overflow-x:hidden;overflow-y:auto;flex-grow:1;width:100%;padding:1rem;font-size:1rem;color:rgba(0, 0, 0, 0.8);}
.modal_footer{display:flex;flex-shrink:0;min-height:3rem;padding:1rem;}
.modal_footer:before{flex-grow:1;order:1;content:"";}
.modal_footer button:first-of-type{order:0;}
.modal_footer button:last-of-type{order:2;}
.button[data-modal-close]{position:absolute;z-index:100;top:0;right:0;display:flex;justify-content:center;align-items:center;width:3rem;height:3rem;padding:0;background:none;border-radius:0;cursor:pointer;text-decoration:none;color:#999999;transition:200ms ease-out;}
.modal .button[data-modal-close]:hover{color:#cccccc;}
.modal .button[data-modal-close]{align-self:stretch;color:#cccccc;}
.modal .button[data-modal-close]:hover{color:#999999;}
.modal .button[data-modal-close] .icon{flex-shrink:0;width:24px;height:24px;pointer-events:none;fill:currentColor;}

/* 장예림추가 */
@media all and (max-width:768px){
	.footerIn .clearfix .fr { float: none; text-align: center; overflow: visible;}
	.footerIn .fr { float: none; text-align: center; overflow: visible;}
}
/* 장예림추가 */
@media all and (max-width:640px){
}
@media all and (max-width:430px){
}