@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

table {border-spacing: 0; line-height: normal; border-collapse: collapse;}

.SBOrgChart .sb-line {
    height                      : 25px;
    width                       : 1px;
}

.SBOrgChart .sb-down {
    background-color 		    : #e4e2e2;	
    margin 				        : 0px auto;
}

.SBOrgChart .sb-top {
    border-top                  : 1px solid #e4e2e2;
}

.SBOrgChart .sb-left {
    border-right                : 1px solid #e4e2e2;
}

.SBOrgChart .sb-right {
    border-left                 : 1px solid #e4e2e2;
}

.SBOrgChart .sb-bottom {
    border-bottom               : 1px solid #e4e2e2;
}


/* node cell */
.SBOrgChart td {
    text-align                  : center;
    box-sizing                  : border-box;
    vertical-align              : top;
    padding                     : 0;
}

.SBOrgChart caption{
    color                       :black;
    font-size                   : 18px;
    font-weight                 : bold;
    text-align                  :center;
}

/* The node */
.SBOrgChart .sb-node-b{
    display                     : inline-block;
    border-radius               : 3px;
    font-size 			        : 14px;
    background-color 	        :#fff;
    box-sizing                  : border-box;
}

.sb-node-focus{
    border                      : 2px solid blue!important;
}

.SBOrgChart .sb-node-assistant-line-b {
    box-sizing                  : border-box;
    display                     : inline-block;
    width                       : 46px;
    height                      : 100%;
    z-index 				    : 10;
}

.SBOrgChart .sb-vertical-node-b {
    height                      : 100%;
    display                     : inline-block;
    background-color 		    : transparent !important;;
    box-sizing                  : border-box;
    z-index 				    : 10;
}

.sb-node-table-b{
    width                       : 100%;
    margin                      : 0 auto;
}

.sb-node-table-cell-b{
    width                       : 50%;
    height                      : 100%;
    box-sizing                  : border-box;
    display                     : inline-block;
}

.sb-node-left{
    float                       : left;
}

.sb-node-right{
    float                       : right;
}

.sb-node-line-b{
    width                       : 100%;
    height                      : 50%;
    box-sizing                  : border-box;
}

/* jQuery drag 'n drop */
.sb-drop-hover {
    border-style			    : solid !important;
    border-color 			    : #E05E00 !important;
}

/* Custom chart styling */
.SBOrgChart {
    padding                     : 20px;
}


.SBOrgChart .sb-wrap-box-b{
    border                      : 1px solid #cccccc;
    border-top-color            : #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.sb-node p{
    font-family                 : 'Noto Sans KR', sans-serif;
    font-size 	                : 10px;
    padding 		            : 2px;
}

.sb-img-area-b{
    width                       : 100%;
    height                      : 50%;
    height: 58%;
    display: block;
}

.sb-content-area-image-b{
    width                       : 100%;
    margin-top:                 5px;
}

.sb-content-area-image-b > .sb-content-inner-area-b{
    height                      : 100%;
    box-sizing                  : border-box;
}

.sb-content-area-non-image-b{
    width                       : 100%;
}

.sb-content-area-non-image-b > .sb-content-inner-area-b{
    height                      : 100%;
    box-sizing                  : border-box;
}

.sb-image-b{
    /* width                       : 61px;
    height                      : 61px;
    margin-top                  : 5px; */

    width: 70%;
    height: 93%;    
    margin-top: 5px;
}

.sb-cell-title-b{
    width                       : 100%;
    height                      : 23px;
    box-sizing                  : border-box;
    text-align                  : center;
    font-style                  : normal;
    color                       : #fff;
    border-top-left-radius      : 2px;
    border-top-right-radius     : 2px;
}

.sb-cell-title-b > span {
    font-size                   : 12px;
    font-family                 : 'Noto Sans KR', sans-serif;
}

.sb-cell-content-b > span {
    font-size                   : 12px;
    font-family                 : 'Noto Sans KR', sans-serif;
    letter-spacing              : normal
}

.sb-cell-content-b{
    width                       : 100%;
    box-sizing                  : border-box;
    text-align                  : center;
    font-size                   : 12px;
    color                       : #000;
    font-weight                 : bold;
    overflow                    : hidden;
}

.sb-node-collapse-b{
    background-image            : url("../images/minus.png");
    width                       : 18px;
    height                      : 18px;
    box-sizing                  : border-box;
    padding                     : 5px 5px 5px;
    background-color            : #bebebe;
    border-radius               : 50%;
    position                    : relative;
    left                        : 40%;
    top                         : 0px;
    background-repeat           : no-repeat;
    background-size             : contain;
    background-position-y       : center;
}

.sb-node-expand-b{
    background-image            : url("../images/add.png");
    width                       : 18px;
    height                      : 18px;
    box-sizing                  : border-box;
    padding                     : 5px 5px 5px;
    background-color            : #bebebe;
    border-radius               : 50%;
    position                    : relative;
    left                        : 40%;
    top                         : 0px;
    background-repeat           : no-repeat;
    background-size             : contain;
    background-position-y       : center;
}

.sb-position-b{
    top                         : 5%;
    left                        : 43%;
}

.sb-hide-cell{
    visibility                  : hidden;
}


.sb-divHrzLine0-b {
    float                       : right;
    height                      : 100%;
}

.sb-divHrzLine1-b {
    width                       : 40px;
    height                      : 50%;
}

.sb-divHrzLine2-b {
    width                       : 40px;
    height                      : 60%;
}

.sb-divtop-b {
    border-top                  : 1px solid #e4e2e2;
}

.sb-divbottom-b {
    border-bottom               : 1px solid #e4e2e2;
}

.sb-divleft-b {
    border-left                 : 1px solid #e4e2e2;
}

.sb-divright-b {
    border-right                : 1px solid #e4e2e2;
}

.sb-box-margin-b{
    margin                      : 0 4px;
}

.sb-box{
    border                      : 1px solid #cccccc
}