@charset "utf-8";


.ellipsis{position:relative;}
.ellipsis [class*='elli']{}
.ellipsis .tooltip{display:none;position:absolute;left:0;top:-1px;border:1px solid #d5d5d5;background:#fff;}
.ellipsis .tooltip:before{content:"";border-left:0;border-right:0;border:10px;border-left:solid transparent 10px;border-right:solid transparent 10px;border-bottom:10px solid rgba(15, 97, 29, 0.5);height:18px;margin-left:4em;position:absolute;width:0;top:-10px;}
/* .ellipsis:hover .tooltip{display:block;} */

.elli1{display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden;}
.elli2{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;}
.elli3{display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden;}
.elli4{display:-webkit-box;-webkit-line-clamp:4;-webkit-box-orient:vertical;overflow:hidden;}

.required{position:relative;padding-left:10px;}
.required:before{content:'';position:absolute;left:0;top:14px;width:6px;height:6px;background:url('/home/imgs/content/icon_symbols-pink.svg') no-repeat 0 -6px;}
.required:after{content:none;}

.textarea_wrap{position:relative;}
.textarea_wrap .limit{margin-top:3px;font-size:11px;color:#747474;text-align:right;}
.textarea{border:1px solid #e4e6ea;border-radius:4px;}
.textarea textarea{width:100%;padding:14px;border:0;border-radius:4px;font-size:16px;font-weight:300;resize:none;}

/* file */
/* PT_F10_03_04_01.html */
.filebox input[type="file"]{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;}
.filebox label{display:inline-block;min-width:90px; width:120px;height:34px;margin-right:3px;padding:4px 14px;border:1px solid #407aec;border-radius:5px;background-color:#fff;color:#407aec;font-size:14px;text-align:center;line-height:25px;}
.filebox label:hover{background-color:#fff;box-shadow:0 4px 4px rgba(0,0,0,.25);color:#407aec;}
.filebox .upload-name{display:inline-block;width:480px;height:30px;margin-right:2px;padding:0 10px;font-size:inherit;font-family:inherit;line-height:normal;vertical-align:middle;background-color:#f5f5f5;border:1px solid #e5e5e5;-webkit-appearance:none;/* 네이티브 외형 감추기 */ -moz-appearance:none;appearance:none;}
.filebox .btn_outline_primary{border:1px solid #407aec;background-color:#fff;font-weight:400;line-height:24px;}
.filebox .btn_outline_primary:hover{background-color:#e7edfc;}
.file2{position:relative;margin-right:20px;padding-left:22px;font-size:14px;font-weight:300;line-height:20px;}
.file2:before{content:'';position:absolute;left:0;top:2px;width:18px;height:18px;background:url('/home/imgs/content/icon_board_data.svg') no-repeat -180px 0;}

.check{position:relative;display:inline-block;}
.check input[type="checkbox"]{position:absolute;width:100%;height:100%;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;display:inline;visibility:visible;opacity:0;}
.check input[type="checkbox"] + label{display:inline-block;position:relative;padding-left:28px;margin-right:8px;font-size:16px;font-size:1em;vertical-align:middle;cursor:pointer;}
.check input[type="checkbox"] + label:before{content:'';display:block;position:absolute;top:50%;left:0;width:20px;height:20px;margin-top:-10px;background:url('/home/imgs/main/icon_checkbox.svg') no-repeat -1px -1px;}
.check input[type="checkbox"]:checked + label:before{background-position:-22px -1px;}
.check input[type="checkbox"]:focus + label:before{outline:1px solid #407aec;box-shadow:0 0 0 2px #407aec;}

.radio{position:relative;display:inline-block;}
.radio input[type="radio"]{position:absolute;width:100%;height:100%;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0;display:inline;visibility:visible;opacity:0;}
.radio input[type="radio"] + label{display:inline-block;position:relative;padding-left:28px;margin-right:8px;font-size:16px;font-size:1em;vertical-align:middle;cursor:pointer;}
.radio input[type="radio"] + label:before{content:'';display:block;position:absolute;top:50%;left:0;width:20px;height:20px;margin-top:-10px;background:url('/home/imgs/main/icon_radio.svg') no-repeat -1px -1px;}
.radio input[type="radio"]:checked + label:before{background-position:-22px -1px;}
.radio input[type="radio"]:focus + label:before{outline:1px solid #407aec;box-shadow:0 0 0 2px #407aec;}

.category_tab{overflow:hidden;margin:0 0 14px}
.category_tab.data-tab button{display: none;}
.category_tab ul{display:flex;border-bottom:1px solid #ddd;}
.category_tab ul li{margin-right:6px;}
.category_tab ul li a{position:relative;display:block;padding:6px 26px 8px;padding-top:0;font-size:20px;font-weight:500;}
.category_tab ul li a:before{content:'';position:absolute;left:0;bottom:-1px;width:100%;height:2px;background:transparent;}
.category_tab ul li a:hover,.category_tab ul li a.on{color:#407aec;}
.category_tab ul li a:hover:before,.category_tab ul li a.on:before{background:#407aec;}
.category_tab+.data_order_box{margin-top:-16px;}
.category_tab+.board_data_view{margin-top:46px}
.category_tab .tb_tit { display: none; }

.width_tab{overflow:hidden;margin:0 0 14px;}
.width_tab ul{display:flex;border-bottom:1px solid #ddd;}
.width_tab ul li{margin-right:6px;}
.width_tab ul li a{position:relative;display:block;padding:6px 26px 8px;padding-top:0;font-size:20px;font-weight:500;}
.width_tab ul li a:before{content:'';position:absolute;left:0;bottom:-1px;width:100%;height:2px;background:transparent;}
.width_tab ul li a:hover,.width_tab ul li a.on{color:#407aec;}
.width_tab ul li a:hover:before,.width_tab ul li a.on:before{background:#407aec;}
.width_tab+.data_order_box{margin-top:-16px;}
.width_tab+.board_data_view{margin-top:46px}
.width_tab .tb_tit { display: none; }

.board{border-top-color:#222;}
.board thead th{padding:13px 20px 14px;border-left:0;background:#f6f7fc;text-align:left;}
.board tr:hover{background-color:#f7f7f7;}
.board td{padding:13px 20px 14px;border:0;border-bottom:1px solid #e4e6ea;font-weight:300;text-align:left;}
.board td *{font-weight:300;}
.board .b_num,.b_num{font-weight:normal;font-size:inherit;}
.board .b_title, .b_title{font-weight:400 !important;}
.board td.fs_num{padding:15px 20px 12px;}
.board p+.inline_ul-dot{margin-top:3px;}

.board .nodata:hover{background-color:transparent;}
.board .nodata td{padding:112px 0 115px;background:url('/home/imgs/content/icon_nodata.svg') no-repeat 50% 50px;font-weight:300;text-align:center;}
#cmntList .nodata {padding:20px 0 80px 0;height:auto;background:url('/home/imgs/content/icon_nodata.svg') no-repeat 50% 60px;font-weight:300;text-align:center;}
.board_insert{}
.board_insert th{padding:12px 10px 11px 10px;border-bottom-color:#e4e6ea;background:#f7f7f7;font-weight:400;text-align:left;}
.board_insert th.b_title{font-size:16px;}
.board_insert td{border-bottom-color:#e4e6ea;font-weight:300;}

.data_all_box{display:flex;align-items:center;margin:30px 0 0;padding:0 0 14px;border-bottom:2px solid #222;}
.data_all_box .count{font-size:18px;}
.data_all_box .count strong{font-weight:500;color:#ee2a7b;}
.data_all_box .icon_excel_down{margin-left:auto;}
/* .data_all_box+.data_order_box{margin-top:14px;} */
.data_all_box+.category_tab{margin:40px 0 30px;}
.data_all_box+.category_tabs{margin-top:40px;}
.data_order_box{display:flex;margin:14px 0;}
.data_order_box .select2-container{min-width:200px;margin-left:auto;}
.data_category{display:flex;flex-wrap:wrap;margin:-4px -4px 5px;}
.data_category .category{display:flex;flex-wrap:wrap;}
.data_category .tag.on{margin:4px 4px;}
.data_category .indication{margin:4px 50px 0 auto;}
.data_category .indication>[class*='c']{display:inline-block;min-width:80px;margin:0 4px;padding:8px 5px;border-radius:15px;font-size:11px;text-align:center;}
.data_category .indication .c1{background-color:#e7edfc;color:#2149a6;}
.data_category .indication .c2{background-color:#d8f5ff;color:#0083ad;}
.data_category .indication .c3{background-color:#ffD8e8;color:#EE2a7b;}

.board_data_box{margin-bottom:20px;}
.board_data_box>li{position:relative;margin-top:20px;/*cursor:pointer;*/}
.board_data_box>li:first-child{margin-top:14px}
.board_data_box>li>a:hover{border-color:#4e16ed;box-shadow:0 4px 20px rgba(0,0,0,.15);}
.board_data_box>li>a:focus{border-color:#4e16ed;box-shadow:0 4px 20px rgba(0,0,0,.15);}
.board_data_box>li>a{padding:20px 30px 15px;border:1px solid #e4e6ea;border-radius:15px;background-color:#fff; display:block;}
.board_data_box .data{display:flex;flex-wrap:wrap;}
.board_data_box .data>li{position:relative;margin:5px 30px 5px 0;padding-left:24px;font-weight:300;line-height:18px;}
.board_data_box .data>li:before{content:'';position:absolute;left:0;top:0;width:18px;height:18px;background-image:url('/home/imgs/content/icon_board_data.svg');background-repeat:no-repeat;/*background-size:108px 18px;*/}
.board_data_box .data .subj{flex:0 0 100%;padding-left:0;font-weight:400;}
.board_data_box .data .homepage a{color:#407aec;text-decoration:underline;}
.board_data_box .data .etc{flex:0 0 100%;padding-left:0;}
.board_data_box .data .etc:before{content:none;}
.board_data_box .data .etc>ul>li{position:relative;display:inline-block;margin-right:30px;padding-left:24px;font-weight:300;line-height:18px; height:24px; vertical-align:top;}
.board_data_box .data .etc>ul>li:before{content:'';position:absolute;left:0;top:2px;width:18px;height:18px;background-image:url('/home/imgs/content/icon_board_data.svg');background-repeat:no-repeat;/*background-size:108px 18px;*/}
.board_data_box .data .etc .deadline .label{color:#ee2a7b;}
.board_data_box .data .etc .date .label{color:#407aec;}
.board_data_box .data .ceo .label{color:#407aec;}
.board_data_box .data>li.etc>ul li {display:inline-block;margin-right:10px;}

.board_data_box .data .date,.board_data_box .data .deadline,.board_data_box .data .hit{}
.board_data_box .data .date .label,
.board_data_box .data .deadline .label{padding-right:6px;font-size:14px;}
.board_data_box .data .date .label{margin-left:-4px;}
.board_data_box .data .ceo .label{font-size:14px;margin-right:6px;}

.board_data_box .data .etc .text{padding-top:0;padding-left:0;}
.board_data_box .data .etc .text:before{content:none;}
.board_data_box .data .etc .text i{padding-right:6px;font-size:14px;color:#407aec;}
.board_data_box .data .etc .btn_modify{display:inline-block;width:18px;height:23px;background:url('/home/imgs/content/icon_modify.svg') no-repeat 0 10%;overflow:hidden;white-space:nowrap;text-indent:100%;vertical-align:text-bottom;}

.board_data_box .data .subj:before{content:none;}
.board_data_box .data .address:before{background-position:-18px 50%;}
.board_data_box .data .homepage:before{background-position:-36px 50%;}
.board_data_box .data .tel:before{background-position:-54px 50%;}
.board_data_box .data .fax:before{background-position:-72px 50%;}
.board_data_box .data .email:before{background-position:-90px 50%;}
.board_data_box .data .date:before{background-position:-108px 50%;}
.board_data_box .data .deadline:before{background-position:-126px 50%;}
.board_data_box .data .hit:before{background-position:-144px 50%;}
.board_data_box .data .dept:before{background-position:-162px 50%;}
.board_data_box .data .ceo:before{background-position:-198px 50%;}
.board_data_box .data .member:before{background-position:-216px 50%;}
.board_data_box .data .member.own:before{background-position:-234px 50%;}
.board_data_box .data .dlist:before{content:none;}
.board_data_box .data .dlist{margin-bottom:10px;padding-left:0;}

.board_data_box .ico_bookmark{position:absolute;right:30px;top:20px;width:30px;height:30px;border-radius:15px;background-color:#f2f5ff;background-image:none;}
.board_data_box .ico_bookmark:before{content:'';position:absolute;left:6px;top:6px;width:18px;height:18px;background-image:url(/home/imgs/main/icon_favorite.svg);background-position:0 0;background-size:18px 36px;}
.board_data_box .ico_bookmark:hover,
.board_data_box .ico_bookmark.on{background-color:#ffd8e8;}
.board_data_box .ico_bookmark:hover:before,
.board_data_box .ico_bookmark.on:before{background-position:0 -18px;}
.board_data_box .ico_detail{position:absolute;right:30px;bottom:20px;width:30px;height:12px;overflow:hidden;white-space:nowrap;text-indent:100%;}
.board_data_box .ico_detail:before{content:'';position:absolute;right:0;top:0;width:100%;height:100%;background:url('/home/imgs/content/board_link-arrow.svg') no-repeat 0 0;}
.board_data_box .nodata{padding:100px 0 40px;border-style:dashed;background:url('/home/imgs/content/icon_nodata.svg') no-repeat 50% 40px;font-weight:300;text-align:center;}
.board_data_box .nodata:hover{border-color:#e4e6ea;box-shadow:none;}
.board_data_box.mpy .data_category .indication{margin-right:0;}

.boardGalleryBox{}
.boardGalleryBox ul{display:flex;flex-wrap:wrap;margin:0 -.781vw;}
.boardGalleryBox ul li{position:relative;flex:0 0 calc(33.3334% - 1.563vw);margin:10px .781vw;border:1px solid #e4e6ea;border-radius:15px;display:flex;flex-direction:column;}
.boardGalleryBox ul li:hover{border-color:#4e16ed;box-shadow:0 4px 20px rgba(0,0,0,.15);}
.boardGalleryBox .item_txt{padding:20px 1.563vw 10px;}
.boardGalleryBox .item_txt .elli2{height:46px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.boardGalleryBox .item_txt .b_title{width:100%;height:46px;font-weight:400 !important;white-space:normal;line-height:23px;}
.boardGalleryBox .item_etc{position:relative;display:flex;margin-top:10px;}
.boardGalleryBox .item_etc>*{position:relative;margin-right:30px;padding-left:24px;font-weight:300;line-height:16px;}
.boardGalleryBox .item_etc>*:before{content:'';position:absolute;left:0;top:0;width:18px;height:18px;background-image:url('/home/imgs/content/icon_board_data.svg');background-repeat:no-repeat;}
.boardGalleryBox .item_engdate:before{background-position:-108px 50%;}
.boardGalleryBox .item_hit:before{background-position:-144px 50%;}
.boardGalleryBox .ico_bookmark{position:absolute;right:30px;top:20px;width:30px;height:30px;border-radius:15px;background-color:#f2f5ff;background-image:none;}
.boardGalleryBox .ico_bookmark:before{content:'';position:absolute;left:6px;top:6px;width:18px;height:18px;background-image:url(/home/imgs/main/icon_favorite.svg);background-position:0 0;background-size:18px 36px;}
.boardGalleryBox .ico_bookmark:hover,
.boardGalleryBox .ico_bookmark.on{background-color:#ffd8e8;}
.boardGalleryBox .ico_bookmark:hover:before,
.boardGalleryBox .ico_bookmark.on:before{background-position:0 -18px;}
.boardGalleryBox .item_img{min-height:190px;height:100%;margin:0 1.563vw 20px;background:#edf1ff url(/base/imgs/board/bg_noimg_gallery.svg) no-repeat 50% 50%;background-size:100px auto;}
.boardGalleryBox .item_img a{display:block;height:100%;}
.boardGalleryBox .item_img img{width:100% !important;height:auto !important;vertical-align:middle;}
.boardGalleryBox .item_img .card_image{}
.boardGalleryBox .item_img .no_image{display:none;}
.bgbox_noitem{position:relative;margin-top:20px;padding:30px;border:1px solid #e4e6ea;border-radius:15px;background-color:#fff;cursor:pointer;}

.boardGalleryBox.promotion ul{margin:-15px -15px;}
.boardGalleryBox.promotion ul li{flex:0 0 calc(25% - 30px);margin:15px 15px;}
.boardGalleryBox.promotion .item_img{position:relative;min-height:153px;margin:20px 1.563vw 10px;background-position:50% calc(50% - 17px)}
.boardGalleryBox.promotion .item_img:after{content:'관련 콘텐츠는 준비중입니다.';position:absolute;left:0;bottom:17%;width:100%;font-size:12px;color:#415898;text-align:center;}
.boardGalleryBox.promotion .item_txt{padding:0 1.563vw 20px;}
.boardGalleryBox.promotion .item_txt .elli1{height:20px;}

.board_data_view{margin-bottom:16px;border:0;}
.board_data_view .info_items{position:relative;margin-bottom:40px;padding:4px 0 16px;border-bottom:1px solid #222;}
.board_data_view .info_items ul{display:inline-flex;}
.board_data_view .info_items ul>li{position:relative;margin-right:30px;padding-left:24px;line-height:18px;}
.board_data_view .info_items ul>li:before,
.list_file>div a:before{content:'';position:absolute;left:0;top:0;width:18px;height:18px;background-image:url('/home/imgs/content/icon_board_data.svg');background-repeat:no-repeat;}
.board_data_view .info_items .date,.board_data_view .info_items .hit{}
.board_data_view .info_items .date:before{background-position:-108px 50%;}
.board_data_view .info_items .hit:before{background-position:-144px 50%;}
.board_data_view .info_items .dept:before{background-position:-162px 50%;}
.board_data_view .ico_bookmark{position:relative;width:30px;height:30px;border-radius:15px;background-color:#f2f5ff;background-image:none;overflow:inherit;text-indent:0;}
.board_data_view .ico_bookmark:before{content:'';position:absolute;left:6px;top:6px;width:18px;height:18px;background-image:url(/home/imgs/main/icon_favorite.svg);background-position:0 0;background-size:18px 36px;}
.board_data_view .ico_bookmark:hover,
.board_data_view .ico_bookmark.on{background-color:#ffd8e8;}
.board_data_view .ico_bookmark:hover:before,
.board_data_view .ico_bookmark.on:before{background-position:0 -18px;}
.board_data_view .ico_bookmark>span{display:inline-block;padding-left:36px;}
.board_data_view .icon_excel_down{position:absolute;right:0;}


.board_data_view .view_box_items{padding:11px 40px 30px;border:1px solid #4e16ed;border-radius:15px; }
.board_data_view .view_box_items>ul>li{display:flex;min-height:60px;padding:19px 0 17px;border-bottom:1px solid #e4e6ea;}
.board_data_view .view_box_items .required:before{content:none;}
.board_data_view .view_box_items .required dt{position:relative;padding-left:10px !important;}
.board_data_view .view_box_items .required dt:before{content:'';position:absolute;left:0;top:14px;width:6px;height:6px;background:url('/home/imgs/content/icon_symbols-pink.svg') no-repeat 0 -6px;}
.board_data_view .view_box_items dl:only-child{display:flex;flex:0 0 100%;}
.board_data_view .view_box_items dl:not(:only-child){display:flex;flex:0 0 50%;}
.board_data_view .view_box_items dt{flex:0 0 150px;}
.board_data_view .view_box_items dd{flex:1;font-weight:300;}
.board_data_view .view_box_items .subj{}
.board_data_view .view_box_items .subj dt{padding-top:4px;}
.board_data_view .view_box_items .subj dd{font-size:22px;font-weight:400;}
.board_data_view .view_box_items .file dd{}
.board_data_view .view_box_items .btn_view{}
.board_data_view .view_box_items .align dl{align-items:center;}
.board_data_view .view_box_items .align [class*='tag']{margin-top:-4px;}
.board_data_view .view_box_items .align [class*='badge']{margin-right:5px;}

.board_data_view .view_box_items>ul>li.nodata{display:block;padding:102px 0 10px;border-style:dashed;background:url('/home/imgs/content/icon_nodata.svg') no-repeat 50% 40px;font-weight:300;text-align:center;border-bottom:0;}
.board_data_view .view_box_items>ul>li.nodata dl{display:block;max-width:722px;margin:0 auto;padding:28px 0 28px 100px;background:url('/home/imgs/content/icon_nodata.svg') no-repeat 0 50%;}
.board_data_view .view_box_items>ul>li.nodata dd{margin-top:4px;color:#747474;}
.board_data_view .view_box_btn{margin:30px 0 40px;text-align:center;}
.board_data_view .view_box_btn-last{margin-top:30px;padding-bottom:50px;border-bottom:1px solid #e4e6ea;text-align:center;}
.board_data_view .info_source{margin-top:30px;}
.board_data_view .view_cont{margin:50px 0 0;padding-bottom:50px;border-bottom:1px solid #e4e6ea;}
.board_data_view .view_cont img{max-width:100%;vertical-align:middle;}
.board_data_view .view_box_items+.table_cont{margin-top:40px;}
.board_data_view .table_cont+.table_cont{margin-top:40px;}
.board_data_view .view_box_items.default{padding:25px 40px 20px}
.board_data_view .view_box_items.default>ul>li{min-height:0;padding:9px 0;border-bottom-color:transparent;}
.board_data_view .view_box_items.default .subj{margin-top:9px;padding-top:18px;border-top:1px solid #e4e6ea;}
.board_data_view .view_box_items+.category_tabs{margin-top:40px;}

.board_data_view .view_box_items dt.required:before{content:'';top:50%;transform:translateY(-50%);}
.view_box_items.comm_list_box { padding-top:30px; height:500px; min-height:200px;}
.board_data_view.regist{}
.board_data_view.regist .view_box_items{padding:40px 40px 30px;}
.board_data_view.regist .view_box_items>ul>li{min-height:40px;padding:12px 0;border-bottom:0;}
.board_data_view.regist .view_box_items dt{padding:8px 0 11px 0;}
.board_data_view.regist .view_box_items .align [class*='tag']{margin-top:0;}
.board_data_view.regist .align dt{padding:0;}
.board_data_view.regist .tg_wrap{display:flex;flex-wrap:wrap;margin:-5px -4px;}
.board_data_view.regist .tg_wrap [class*='tag']{margin:5px 4px;}
.board_data_view.regist .select2{min-width:400px;}

.board_data_view.posting .view_box_items dt{display:flex;flex:0 0 200px;}
.board_data_view.posting .view_box_items dt.required{padding-left:10px;}
.board_data_view.posting .view_box_items dt.required:before{content:none;}
.board_data_view.posting .view_box_items dt.required>span{position:relative;padding-left:10px;}
.board_data_view.posting .view_box_items dt.required>span:before{content:'';position:absolute;left:0;top:7px;width:6px;height:6px;background:url('/home/imgs/content/icon_symbols-pink.svg') no-repeat 0 -6px;}


.category_tabs.community{position:relative;}
.community .textarea_wrap{}
.community .textarea_wrap textarea{padding:10px 14px;width: 100%; height: 120px; resize: none;}
.community .status{position:absolute;left:0;top:7px;width:100px;padding:8px 0;border-radius:25px;background:#f2f2f2;font-size:14px;font-weight:500;color:#888;text-align:center;}
.community .status.on{background:#f0e9ff;color:#4e16ed;}
.community .status>span{position:relative;padding-left:20px;}
.community .status>span:before{content:'';position:absolute;left:0;top:0;width:20px;height:20px;background-image:url('/home/imgs/content/icon_community.svg');background-repeat:no-repeat;background-position:-43px 0;}
.community .status.on>span:before{background-position:-43px -20px;}

.community .category_tab ul{justify-content:flex-end;padding-bottom:20px;border-bottom-color:#222;}
.community .category_tab ul li{margin-right:0;margin-left:20px;}
.community .category_tab ul li a{min-width:219px;padding:9px 26px;border:1px solid #c7cee3;border-radius:5px;color:#747474;text-align:center;}
.community .category_tab ul li a.on{border-color:#4e16ed;color:#4e16ed;}
.community .category_tab ul li a:hover:before,
.community .category_tab ul li a.on:before{content:none;}
.community .category_tab ul li a span{display:inline-block;}
.community .category_tab ul li a span:first-child{position:relative;padding-left:30px;}
.community .category_tab ul li a span:first-child:before{content:'';position:absolute;left:0;top:50%;width:20px;height:20px;margin-top:-10px;background-image:url('/home/imgs/content/icon_community.svg');background-repeat:no-repeat;background-position:0 0;}
.community .category_tab ul li a.on span:first-child:before{background-position:0 -20px;}
.community .category_tab ul li a span+span{margin-left:10px;}

.view_box_items-top{padding:30px 40px;border:1px solid #4e16ed;border-radius:15px;}
.view_box_items-top .subj dl{display:flex;flex:0 0 100%;padding:0 0 18px;}
.view_box_items-top .subj dt{flex:0 0 150px;line-height:28px;}
.view_box_items-top .subj dd{font-size:22px;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden;}
.view_box_items-top .detail{display:flex;padding-top:18px;border-top:1px solid #e4e6ea;}
.view_box_items-top .detail li{flex:0 0 25%;position:relative;padding:9px 0 8px 74px;}
.view_box_items-top .detail li:before,
.view_box_items-top .detail li:after{content:'';position:absolute;left:0;top:0;width:60px;height:60px;border-radius:30px;}
.view_box_items-top .detail li:after{background-image:url('/home/imgs/content/icon_ente-detail.svg');background-repeat:no-repeat;}
.view_box_items-top .detail li:nth-child(1):before{background-color:#f0e9ff;}
.view_box_items-top .detail li:nth-child(2):before{background-color:#d8f5ff;}
.view_box_items-top .detail li:nth-child(3):before{background-color:#dff6e5;}
.view_box_items-top .detail li:nth-child(4):before{background-color:#ffede2;}
.view_box_items-top .detail li:nth-child(1):after{background-position:0 0;}
.view_box_items-top .detail li:nth-child(2):after{background-position:-70px 0;}
.view_box_items-top .detail li:nth-child(3):after{background-position:-140px 0;}
.view_box_items-top .detail li:nth-child(4):after{background-position:-210px 0;}
.view_box_items-top .detail strong{display:block;font-size:14px;}
.view_box_items-top .detail p{margin-top:4px;font-weight:300;}

.list_file>div{margin-top:10px;font-size:14px;font-weight:300;}
.list_file>div:first-child{margin-top:0;}
.list_file>div a{position:relative;padding-left:22px;font-size:14px;font-weight:300;line-height:20px;}
.list_file>div a:before{top:2px;background-position:-180px 0;}
.list_file .file:hover{color:#407aec;text-decoration:underline;}
.list_file .preview,
.list_file .down,
.list_file .remove{display:inline-block;vertical-align:-3px;width:20px;height:20px;margin-left:10px;padding:0;font-size:0;overflow:hidden;white-space:nowrap;text-indent:100%}
.list_file .preview{margin-left:40px;}
.list_file .down{}
.list_file .remove{vertical-align:top;}
.list_file .preview:before,
.list_file .down:before,
.list_file .remove:before{background-image:url('/home/imgs/content/icon_files.svg');}
.list_file .preview:before{background-position:0 0;}
.list_file .down:before{background-position:-20px 0;}
.list_file .remove:before{background-position:-40px 0;}
.list_file .preview:hover:before{background-position:0 -20px;}
.list_file .down:hover:before{background-position:-20px -20px;}
.list_file .remove:hover:before{background-position:-40px -20px;}

.list_file_wrap{display:flex;max-width:590px;}
.list_file_wrap>form{display:flex;max-width:590px;}
.list_file_wrap .list_file { width:100%; }
.list_file_wrap .list_file>div .file{display:inline-block;max-width:calc(100% - 34px);padding-right:1px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;vertical-align:middle;}
.list_file_wrap .filebox{}

.board_data_box.faq{}
.board_data_box.faq>li{padding:0;}
.board_data_box.faq>li .head{position:relative;display:flex;padding:20px 30px}
.board_data_box.faq>li .head:before,.board_data_box.faq>li .body:before{font-size:40px;font-weight:500;line-height:1;}
.board_data_box.faq>li .head:before{content:'Q';color:#4e16ed;}
.board_data_box.faq>li .head>strong{flex:1;align-self:center;margin-left:6px;margin-right:42px;font-size:18px;font-weight:400;}
.board_data_box.faq>li .body{position:relative;display:none;padding:30px;border-top:1px solid #e4e6ea;font-weight:300;}
.board_data_box.faq>li .body:before{content:'A';color:#ee2a7b;margin-right:10px;}
.board_data_box.faq>li .body p+p{margin-top:10px;}
.board_data_box.faq>li.on .body{display:flex;}
.board_data_box.faq [data-color]{width:90px;height:32px;padding:6px 14px 5px;border-radius:25px 0 30px 25px;text-align:center;}
/* .board_data_box.faq [data-color='1']{border-color:#4e16ed;font-weight:500;color:#4e16ed;}
.board_data_box.faq [data-color='2']{border-color:#00a2d7;font-weight:500;color:#00a2d7;}
.board_data_box.faq [data-color='3']{border-color:#de3fec;font-weight:500;color:#de3fec;} */
.board_data_box.faq .data_category{margin:0 6px;}
.board_data_box.faq .data_category+strong{margin-left:0 !important;}
.board_data_box.faq .ico_detail{top:30px;right:30px;bottom:auto;width:22px;height:22px;}
.board_data_box.faq .ico_detail:before{width:100%;height:100%;margin-top:0;background:url('/home/imgs/content/icon_accordion.svg') no-repeat 0 0;transition:.3s;}
.board_data_box.faq .on .ico_detail:before{transform:rotate(180deg);}
.board_data_box.faq .nodata{padding:102px 0 40px;}

.board_related{margin-top:30px;border-bottom:1px solid #747474;}
.board_related ul li{display:flex;align-items:center;padding:19px 0;border-top:1px solid #e4e6ea;}
.board_related ul li:first-child{border-top-color:#747474;}
.board_related ul li a{display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden;}
.board_related ul li a:hover{text-decoration:underline;}
.board_related strong{flex:0 0 72px;position:relative;padding-left:24px;font-size:14px;font-weight:400;color:#747474;}
.board_related strong:before{content:'';position:absolute;left:0;top:0;width:20px;height:20px;background-image:url('/home/imgs/content/icon_related.png');background-repeat:no-repeat;}
.board_related .prev strong:before{background-position:0 0;background-size:20px 40px;}
.board_related .next strong:before{background-position:0 -20px;background-size:20px 40px;}

.member_info_box{}
.member_info_box li{display:flex;flex-wrap:wrap;margin:20px 0 0;padding:15px 15px;border:1px solid #e4e6ea;border-radius:15px;}
.member_info_box li dl{display:flex;flex:0 0 calc(33.3334% - 30px);margin:5px 15px;}
.member_info_box li dl dt{position:relative;flex:0 0 90px;}
.member_info_box li dl dd{font-weight:300;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden;flex:1;}
.member_info_box li dl:nth-child(1),.member_info_box li dl:nth-child(4){flex:0 0 calc(26% - 30px);}
.member_info_box li dl:nth-child(2),.member_info_box li dl:nth-child(5){flex:0 0 calc(41.5% - 30px);}
.member_info_box li dl:nth-child(3),.member_info_box li dl:nth-child(6){flex:0 0 calc(32.5% - 30px);}
.member_info_box .owner{padding-left:24px;}
.member_info_box .owner:before{content:'';position:absolute;left:0;top:0;width:18px;height:18px;background-image:url('/home/imgs/content/icon_board_data.svg');background-repeat:no-repeat;background-position:-234px 50%;}

.comm_list_box{}
.comm_list_box li dl dt{position:relative;}
.comm_list_box li dl dd{word-break:break-all;}
.comm_list_box .owner{padding-left:24px;}
.comm_list_box .owner:before{content:'';position:absolute;left:0;top:0;width:18px;height:18px;background-image:url('/home/imgs/content/icon_board_data.svg');background-repeat:no-repeat;background-position:-234px 50%;}
.comm_list_box .owner .company{display:block;margin-left:-24px;}
.comm_list_box .company{display:block;margin-top:10px;}
.comm_list_box .textbox{}
.comm_list_box .etc_btm{display:flex;justify-content:flex-end;margin-top:14px;}
.comm_list_box .etc_btm .comment_date{color:#666;font-size: 14px;}
.comm_list_box .etc_btm .comment_date+.btns{margin-left:40px;}
.comm_list_box .etc_btm [class*="icon_"]{overflow:hidden;white-space:nowrap;text-indent:100%;width:20px;height:20px;margin-left:10px;background-image:url('/home/imgs/content/icon_comments.svg');background-repeat:no-repeat;}
.comm_list_box .etc_btm .icon_modify{background-position:0 0;}
.comm_list_box .etc_btm .icon_save{background-position:-20px 0;}
.comm_list_box .etc_btm .icon_delete{background-position:-40px 0;}
.comm_list_box .etc_btm .icon_modify:hover{background-position:0 -20px;}
.comm_list_box .etc_btm .icon_save:hover{background-position:-20px -20px;}
.comm_list_box .etc_btm .icon_delete:hover{background-position:-40px -20px;}

.reg_comment{display:flex;position:relative;margin-top:30px;padding:30px 40px;border-radius:15px;box-shadow:0 4px 20px rgba(0,0,0,.15);}
.reg_comment .textarea_wrap{flex:1;margin-right:20px;}
.reg_comment .textarea_wrap .limit{}
.reg_comment .btns{align-self:flex-end;margin-bottom:17px;}
.reg_comment .btns [class*="btn_"]{display:block;}
.reg_comment .btns [class*="btn_"]+[class*="btn_"]{margin-top:10px;}

.table_cont{overflow-x:auto;}
.table_cont .table_tit{margin:20px 0 10px;}
.bg1 td{background:#f3f8ff;}
.bg2 td{background:#fff8eb;}
.bg3 td{background:#effef1;}
.bg4 td{background:#f7f1ff;}
/* .table_legend{margin:-24px 0 6px;font-size:13px;color:#747474;text-align:right;} */
.contTable.chart{font-size:14px;}
.contTable.chart thead{border-bottom:1px solid #e4e6ea;}
.contTable.chart thead th{height:32px;padding:8px 0 9px;line-height:16px;}
.contTable.chart tbody th{height:32px;padding:8px 0 9px;line-height:16px;}
.contTable.chart tbody td{height:32px;padding:7px 0;}
.contTable.chart.tr tbody th{padding:0 15px;}
.contTable.chart.tr tbody td{text-align:right;padding:8px 15px 6px;}

.table_cont+.chart_container{margin-top:50px;}
.chart_container.pies{display:flex; overflow-x: auto;}
.chart_container.pies .pie{flex:1;border-left:1px solid #e4e6ea;}
.chart_container.pies .pie:first-child{border-left:0;}
.chart_container .sbchart{}
.chart_container .sbchart-title{font-size:medium;}
.chart_container .sbchart-legend{}
.chart_container .sbchart-legend-item{font-size:medium;}
.chart_container .sbchart-legend-item-text{}
.chart_container .sbchart-legend-item-tile{}
.chart_container .sbchart-labels{}
.chart_container .sbchart-labels .sbchart-text{fill:#000 !important;}
.sbchart-axis{font-size:medium;}

@media all and (max-width:1000px) {
    .view_box_items-top{}
    .view_box_items-top .subj dt{align-self:center;flex:0 0 auto;margin-right:10px;line-height:20px;}
    .view_box_items-top .subj dd{}
    .view_box_items-top .detail{display:block;}
    .view_box_items-top .detail li{margin-top:18px;}
    .board_data_view .view_box_items{}
    .board_data_view .view_box_items>ul>li{display:block;}
    .board_data_view .view_box_items dl:not(:only-child):last-of-type{border-top:1px solid #e4e6ea;margin-top:17px;padding-top:19px;}
    .board{overflow:hidden;}
    .table_scroll{overflow:hidden;overflow-x:auto;}
    .table_scroll .board{}
}
@media all and (max-width:768px){
    .member_info_box li { display:block; }
    .member_info_box li dl { margin:0; }    
    .member_info_box li dl dd { display:block; }
    .info_source img { width:100%; }
    .board_data_box.faq>li .head { padding: 65px 30px 20px 30px; }
    .board_data_box.faq .data_category { position: absolute; top:21px; left:21px; }
    .board_data_box.faq>li .head>strong { margin:0 0 0 10px; margin-right: 0; padding-left: 10px; font-size: 16px;}
    .board_data_box.faq [data-color] { padding: 4px 14px 5px; }
    .board_data_view.regist .select2 { min-width: 100%; }
    .list_file_wrap { display: block; }
    .board_data_view .view_box_items dd { width:70%; }
    .board_data_view.posting .view_box_items dt { flex: 0 0 150px; }
    .tab-select-outer .select2-container { min-width:100%; }
    /* 탭메뉴 셀렉트 전환 */
    .category_tab {  position:relative; overflow:visible; }
    .category_tab:before { }
    .category_tab button { height:42px; width:100%; border-radius:5px; position:relative; border:1px solid #e4e6ea; z-index:10; opacity: 0;}
    .category_tab ul { display:block; position:absolute; top:0; left:0; padding-top:40px; z-index:1; background:#fff; border-radius:5px; width:100%; border:1px solid #e4e6ea; }
    .category_tab ul li { display:none; margin:0;}
    .category_tab ul li a { font-size:16px; padding:8px 10px 10px 15px; height:40px;}    
    .category_tab ul li a.on { background-color: #ddd; }
    .category_tab ul li a:before{content:none;}
	.category_tab ul li a:hover,.category_tab ul li a.on {color:#407aec; background:none;}
	.category_tab ul li a:hover:before,.category_tab ul li a.on:before{background:none;}
	.category_tab ul li:has(a.on) {display:block !important;margin: 0;border-bottom:1px solid #e4e6ea;position: absolute;top:0;width: 100%;background:url('/home/imgs/board/select2_arrow.svg') no-repeat 98% center; }
	.category_tab.data-tab ul { position:relative; }
	.category_tab.data-tab button {display:block;position: absolute; }
	
	.width_tab ul{display:flex;border-bottom:1px solid #ddd;flex-grow: 1; justify-content: space-around;}
	.width_tab ul li{margin-right:0; text-align:center;}
	.width_tab ul li a{font-size:16px; padding:10px 5px;}
	
    .reg_comment{flex-direction: column;padding: 20px;}
    .reg_comment .textarea_wrap{margin-right:0;}
    .reg_comment .btns{display: flex;align-items: center;gap: 8px;margin-bottom: 8px;margin-top: 12px;}
    .reg_comment .btns [class*="btn_"]+[class*="btn_"]{margin-top: 0;}

}
@media all and (max-width:640px) {
    .board_data_box>li { padding:20px 50px 20px 20px; }
    .board_data_box .ico_bookmark { right: 20px; }
    .data_category { display: block; margin-bottom:0;}
    .data_category .indication { display: block; }
    .data_category .indication>[class*='c'] { padding:4px 8px; margin: 0 2px 8px 2px; min-width: 40px;}    
    .data_category .tag.on { margin: 4px 2px; }
    .total_search .data_category .tag.on { margin: 4px; }
    .boardGalleryBox ul { display: block; }
    .boardGalleryBox .ico_bookmark { right: 1.563vw; }
}
@media all and (max-width:480px) {    
    .board_data_box .ico_bookmark { top:10px; right:10px; }
    .board_data_box>li { padding: 10px 40px 10px 10px; }    
    .data_all_box .count { font-size: 14px; }   
    .data_order_box .select2-container { min-width:100%; }
    .data_all_box { margin-top: 20px; }
    .board_data_view .ico_bookmark { display: block; margin-top:10px; }
    .board_data_view .icon_excel_down { bottom: 15px; }
    
    .view_box_items-top { padding:20px; }
    .view_box_items-top .detail { padding-top: 0; }
    .board_data_view .view_box_items { padding: 5px 15px; }
    .board_data_view .view_box_items dl:not(:only-child),
    .board_data_view .view_box_items dl:only-child { display:block; }
    .board_data_view .view_box_items dt { font-weight: 500; }
    .view_box_items-top { padding:20px; }
    .view_box_items-top .detail { padding-top: 0; }
    .board_data_view .view_box_items .align [class*='tag'] { margin-top:5px; }
    .board_data_view .view_box_items.default { padding:10px 20px; }
    .board_data_view .view_box_items .subj dd { font-size: 16px; }

    .board_data_view.regist .view_box_items { padding:10px 20px; }
    .board_data_view .view_box_items dd { width:100%; }
    .list_file_wrap .list_file>div .file { max-width: calc(95% - 34px); }
    .board_data_view .view_box_items>ul>li.nodata { padding:0; }
    .board_data_view .view_box_items>ul>li.nodata dl { background: none; padding: 10px;}
    .board_data_view.regist .tg_wrap { margin:5px -4px; }
	.width_tab ul li a { font-size:14px; }
}