.dropdown{
  position: relative;
  font-size: rem(17); 
  font-weight: 400;
  color: #1D1D1D;
  line-height: 1.5;

  &-menu{
    display: none;
    width: 100%;
    min-width: auto;
    padding: em(5);
    border-color:transparent;
    border-radius: 4px;
    box-shadow:0px 5px 20px #0000001A;
    background: #fff;

    &.show{
      display: block;
      z-index: 1;
    }
  }

  &-toggle {
    text-align: left;
    font-size: inherit;
  }

  &-item{ 
    display: block;
    margin:0;
    padding: .25em 1.5em;
    border-radius: 4px;
    color:#111;
    @include hover(){
        background:#fafafa;
    }
    &.active{
      background:#fafafa;
    }
  }

  i{
    margin-left: 1rem;
  }
}