.bg-ceo-node-b{
    background                  :#344cab!important;
}

.bg-audit-node-b{
    background                  :#8455f5!important
}

.bg-lab-node-b{
    background                  :#ea4335!important
}

.bg-support-node-b{
    background                  :#34a85a!important;
}

.bg-ui-node-b{
    background                  :#8a8d92!important;
}

.bg-dev-node-b{
    background                  :#fbbc05!important;
}

.bg-manage-node-b{
    background                  :#4285f4!important;
}

.color-ceo-node-b{
    color                  :#344cab!important;
}

.color-audit-node-b{
    color                  :#8455f5!important
}

.color-lab-node-b{
    color                  :#ea4335!important
}

.color-support-node-b{
    color                  :#34a85a!important;
}

.color-ui-node-b{
    color                  :#8a8d92!important;
}

.color-dev-node-b{
    color                  :#fbbc05!important;
}

.color-manage-node-b{
    color                  :#4285f4!important;
}