@charset "utf-8";

/* .wrap{width:1200px;margin:0 auto;position:relative;}
@media all and (max-width:1500px) {
	.wrap{width:96%;min-width:auto;}
}
#header{height:250px;background:#45b02f url(../imgs/header_bg.jpg) no-repeat 50% 0;position:relative;background-size:cover;}
#header .home{font-size:14px;padding:5px 20px;color:#fff;border:solid 1px #68d369;border-radius:100px;position:absolute;top:25px;right:calc(50% - 600px);z-index:1;text-shadow:1px 2px 1px rgb(0 0 0 / 10%);}
#header a.home:hover{box-shadow:8px 8px 17px rgb(0 0 0 / 14%);border:1px solid #fff;}
#header .logo{text-align:center;color:#fff;padding-top:70px;}
#header .logo a{color:#fff;}
#header .logo img{vertical-align:middle;display:inline-block;padding:0 10px 0 0;}
#header .logo span{font-size:35px;display:inline-block;vertical-align:middle;border-left:solid 1px #68d369;line-height:35px;padding-left:10px;font-weight:bold;} */
/* lnb */
#lnb{width:100%;margin-top:90px;}
#lnb ul{display:flex;flex-wrap:wrap;box-shadow: 8px 8px 17px rgba(0, 0, 0, 0.07);background:#f2fdf5;}
#lnb ul li{flex:1;}
#lnb ul li a{display:block;color:#212831;line-height:60px;text-align:center;border:solid 1px #d3d3d3;border-right:0;}
#lnb ul li a span{font-size:18px;}
#lnb ul li:last-child a{border-right:solid 1px #d3d3d3;}
#lnb ul li.logout a{position:relative;border:1px solid #3a495c;background:#3a495c;color:#fff;box-sizing:border-box;}
#lnb ul li.logout a:before{position:absolute;top:-17px;left:calc(50% - 20px);content:"";width:37px;height:37px;background:url(/member/imgs/out.png) no-repeat;}
#lnb ul li.on{box-shadow:8px 8px 17px rgba(0, 0, 0, 0.14);}
#lnb ul li.on a{padding-right:18px;color:#2da338;border:solid 1px #38ac31 !important;background:#fff url(../imgs/lnb_on.png) no-repeat 90% 50%;}
#lnb ul li.on a span{font-size:20px;}
/* #footer{width:100%;background:#f7f7f7;height:170px;padding:20px 0;}
#footer .link{border-bottom:1px solid #d9d9d9;padding-bottom:20px;margin-bottom:30px;}
#footer .link li{float:left;}
#footer .link li:after{content:'';width:5px;height:5px;display:inline-block;margin:0 10px;background:#bfbfbf;border-radius:10px;vertical-align:middle;}
#footer .link li:last-child:after{display: none;}
#footer .link a{font-size:16px;color:#555;display:inline-block;vertical-align:middle;}
#footer .link a:hover{text-decoration:underline;}
#footer .link strong{color:#2c8f58;}
#footer .copy{font-size:15px;word-break:keep-all;overflow:hidden;line-height:1.4;}
#footer .copy address{font-style:normal;float:left;margin-right:50px;}
#footer .copy span{margin-bottom:10px;float:left;}
#footer .copy p{margin-top:5px;float:right;} */
.go-top-box{position:relative;position:absolute;top:-46px;right:0;z-index:1;}
.go-top-box a:before{position:absolute;top:0;left:0;z-index:-1;content:'';display:block;width:53px;height:53px;background:#187cbb;border-radius:100px;opacity:0.25;transition:all .4s;}
.go-top-box a:hover:before{transform:scale(1.5);}
@media all and (max-width:1300px) {
	/* #footer .copy p{float:left;} */
}
@media all and (max-width:1200px) {
	/* #header .home{right:2%;} */
	/* #footer{height:auto;} */
}
@media all and (max-width:1024px) {
	/* #header{height:auto;background-color:transparent;background-size:auto 200px;}
	#header .home{top:15px;} */
	#lnb{margin-top:45px;}
	#lnb ul li{flex-basis:50%;}	
	#lnb ul li a{height:50px;line-height:49px;border-top:0;}
	#lnb ul li:nth-child(2n) a{border-right:solid 1px #d3d3d3;}
	#lnb ul li:nth-child(-n+2) a{border-top:solid 1px #d3d3d3;}
	#lnb ul li.logout a:before{display:none;}	
	/* #footer .copy address{float:none;}
	#footer .copy span{display:block;float:none;margin-top:10px;} */
}
@media all and (max-width:580px) {
	/* #header .logo img{height:40px;}
	#header .logo span{font-size:27px;} */
	#lnb{margin-top:65px;}
	#lnb ul li a{height:47px;line-height:46px;}
	#lnb ul li a span{font-size:16px !important;}
	/* #footer .copy address span{margin-bottom:5px;line-height:1.3;} */
}
@media all and (max-width:400px) {	
	/* #header .logo span{display:block;border:0;padding:5px 0 0;} */
	#lnb{margin-top:25px;}
}

/* title 기본 */
h3.loginH3, h3.conH3 {position:relative; background:url("/member/imgs/template/titleH3.gif") no-repeat 0 18px; padding:15px 0 5px 18px; color:#213944; font-size:1.25em;  font-weight:bold; letter-spacing:-1px;}
h4.loginH4, h4.conH4 {background:url("/member/imgs/template/titleH4.gif") no-repeat 6px 11px; padding:5px 0 3px 20px; color:#0077ab; font-size:1em;  font-weight:bold;}

/* conList */
.conList {position:relative; padding:5px 0 0 15px;}
.conList li {position:relative; padding:0 0 0 10px;}
.conList li::after {position:absolute; top:10px; left:0; content:""; width:3px; height:3px; background:#737477;}
.conList ul {padding:3px 0 7px 0;}
.conList li li {padding:0 0 0 10px; color:#888;}
.conList li li::after {position:absolute; top:12px; left:0; content:""; width:5px; height:1px; background:#737477;}
.conList li  li  li {position:relative; padding:0 0 0 7px;}
.conList li  li  li::after {position:absolute; top:10px; left:0; content:""; width:3px; height:3px; background:#737477;}
 
/* 테이블 리스트 타입1 */
.tbl_list1,.tbl_list1 th,.tbl_list1 td{border:0; border-collapse:collapse}
.tbl_list1 a{color:#383838;text-decoration:none}
.tbl_list1{width:100%;border-bottom:1px solid #999;color:#666;font-size:12px;table-layout:fixed; border-collapse:collapse}
.tbl_list1 caption,.tbl_list1 .frm label{display:none}
.tbl_list1 th{padding:8px 0;border-top:solid 1px #999;border-bottom:solid 1px #b2b2b2;background-color:#f1f1f4;color:#333;font-weight:bold;line-height:18px;vertical-align:top}
.tbl_list1 td{padding:10px 0;border-bottom:solid 1px #d2d2d2;text-align:center}
.tbl_list1 .frm{padding:0;text-align:center}
.tbl_list1 .frm input{margin:0}
.tbl_list1 .num,.tbl_list1 .date,.tbl_list1 .hit{padding:1px; font-size:11px; line-height:normal}
.tbl_list1 .title{text-align:left}
.tbl_list1 .title .pic,.tbl_list1 .title .new{margin:0 0 2px;vertical-align:middle}
.tbl_list1 tr.reply .title a{padding-left:12px;background:url(img/ic_reply.gif) 0 1px no-repeat}
.tbl_list1 tr.reply td a.comment{padding:0;background:none;color:#f00;font-size:12px;font-weight:bold}

/* 테이블 뷰 타입1 */
.tbl_view1,.tbl_view1 th,.tbl_view1 td{border:0; border-collapse:collapse}  
.tbl_view1{width:100%; border-bottom:1px solid #dddee2;  font-size:12px; table-layout:fixed; border-collapse:collapse; margin-bottom:10px;}
.tbl_view1 caption{display:none}  
.tbl_view1 th{padding:10px 15px; border-top:1px solid #dddee2; background:#f1f1f3; color:#666 ;font-weight:bold; text-align:center;}  
.tbl_view1 td{padding:0 10px; border-top:1px solid #dddee2;}
.tbl_view1 input {padding:4px; font:13px Dotum; border:1px solid #a7a7a7}

/* margin */
.margin_t_3 { margin-top:3px !important; }
.margin_t_5 { margin-top:5px !important; }
.margin_t_10 { margin-top:10px !important; }
.margin_t_15 { margin-top:20px !important; }
.margin_t_20 { margin-top:20px !important; }
.margin_t_25 { margin-top:25px !important; }
.margin_t_30 { margin-top:30px !important; }
.margin_t_40 { margin-top:40px !important; }
.margin_t_50 { margin-top:50px !important; }
.margin_t_60 { margin-top:60px !important; }
.margin_t_70 { margin-top:70px !important; }
.margin_t_80 { margin-top:80px !important; }
.margin_t_90 { margin-top:90px !important; }
.margin_t_100 { margin-top:100px !important; }
.margin_t_110 { margin-top:110px !important; }
.margin_t_120 { margin-top:120px !important; }
.margin_b_3 { margin-bottom:3px !important; }
.margin_b_5 { margin-bottom:5px !important; }
.margin_b_10 { margin-bottom:10px !important; }
.margin_b_20 { margin-bottom:20px !important; }
.margin_b_30 { margin-bottom:30px !important; }
.margin_b_50 { margin-bottom:50px !important; }
.margin_r_5 { margin-right:5px !important; }
.margin_r_10 { margin-right:10px !important; }
.margin_r_20 { margin-right:20px !important; }
.margin_r_30 { margin-right:30px !important; }
.margin_r_40 { margin-right:30px !important; }
.margin_r_50 { margin-right:30px !important; }
.margin_l_5 { margin-left:5px !important; }
.margin_l_10 { margin-left:10px !important; }
.margin_l_15 { margin-left:15px !important; }
.margin_l_20 { margin-left:20px !important; }
.margin_l_30 { margin-left:30px !important; }
.margin_l_35 { margin-left:35px !important; }
.margin_l_40 { margin-left:40px !important; }
.margin_l_50 { margin-left:50px !important; }
.margin_l_70 { margin-left:70px !important; }
.margin_l_90 { margin-left:90px !important; }
.margin_l_120 { margin-left:120px !important; }
.margin_l_130 { margin-left:130px !important; }

/* padding */
.padding_t_5 { padding-top:5px !important; }
.padding_t_10 { padding-top:10px !important; }
.padding_t_20 { padding-top:20px !important; }
.padding_t_30 { padding-top:30px !important; }
.padding_t_40 { padding-top:40px !important; }
.padding_t_50 { padding-top:50px !important; }
.padding_t_60 { padding-top:60px !important; }
.padding_t_70 { padding-top:70px !important; }
.padding_t_80 { padding-top:80px !important; }
.padding_t_90 { padding-top:90px !important; }
.padding_t_100 { padding-top:100px !important; }
.padding_t_110 { padding-top:110px !important; }
.padding_t_120 { padding-top:120px !important; }
.padding_b_5 { padding-bottom:5px !important; }
.padding_b_10 { padding-bottom:10px !important; }
.padding_b_20 { padding-bottom:20px !important; }
.padding_b_30 { padding-bottom:30px !important; }
.padding_b_50 { padding-bottom:50px !important; }
.padding_r_10 { padding-right:10px !important; }
.padding_r_20 { padding-right:20px !important; }
.padding_r_30 { padding-right:30px !important; }
.padding_r_40 { padding-right:30px !important; }
.padding_r_50 { padding-right:30px !important; }
.padding_l_10 { padding-left:10px !important; }
.padding_l_15 { padding-left:15px !important; }
.padding_l_20 { padding-left:20px !important; }
.padding_l_30 { padding-left:30px !important; }
.padding_l_35 { padding-left:35px !important; }
.padding_l_40 { padding-left:40px !important; }
.padding_l_50 { padding-left:50px !important; }
.padding_l_70 { padding-left:70px !important; }
.padding_l_90 { padding-left:90px !important; }
.padding_l_120 { padding-left:120px !important; }
.padding_l_130 { padding-left:130px !important; }

/* 텍스트 정렬 */
.text_center {text-align:center;}
.text_right {text-align:right;}
.text_left {text-align:left;}
.text_top {vertical-align:top;}

.spacing_1 {letter-spacing:-1px !important;}
.text_small {font-size:0.95em !important;}
.font_bold {font-weight:bold !important;}

/* 글씨 포인트 */
.text_blue {font-weight:bold; color:#00778f;}
.text_gray {font-weight:bold; color:#4b4b4b;}
.text_brown {font-weight:bold; color:#905604;}
.text_green {font-weight:bold; color:#398801;}
.em_red {font-weight:bold; color:#cf0b0b;}