@charset "utf-8";

#subWrapper{position:relative; width:100%;overflow:hidden;}
.location_wrap{padding:13px 0 15px;background-image:linear-gradient(to right, #2c91ee 0%, #4a80e8 100%);}
.location{max-width:1400px;margin:0 auto;}
.location a.home{display:inline-block;width:32px;height:32px;border-radius:16px;background:#013eac url('../imgs/sub/home_icon.svg') no-repeat 50%;color:#fff;overflow:hidden;text-indent:100%;white-space:nowrap;vertical-align:middle;}
.location span{padding-left:48px;background:url('../imgs/sub/loc_arr.svg') no-repeat 27px 50%;font-size:14px;color:#fff;vertical-align:middle;word-break:keep-all;}
.location span:last-child{font-weight:700;}
.sub_top .wrap{position:relative;}
.sub_top h3{margin:0 0 34px;font-family:'SCDream';font-size:32px;font-weight:500;color:#000;word-break:keep-all;}
.sub_top .snsBox{position:absolute;top:0;right:0;}
.sub_top .snsBox>ul{display:flex;}
.sub_top .snsBox>ul>li{margin-left:10px;border-radius:17px;background:#fff;box-shadow:0 1px 20px rgba(0,0,0,.225);}
.sub_top .snsBox>ul>li>a{position:relative;display:block;}
.sub_top .snsBox>ul>li.print>a{width:34px;height:34px;overflow:hidden;text-indent:100%;white-space:nowrap;vertical-align:middle;}
.sub_top .snsBox>ul>li.print>a:before{content:'';position:absolute;left:0;top:0;width:100%;height:100%;background:url('../imgs/sub/print_icon.svg') no-repeat 50%;background-size:18px;}
.sub_top .snsBox>ul>li.share{position:relative;display:flex;align-items:center;}
.sub_top .snsBox>ul>li.share>a{order:2;position:relative;width:34px;height:34px;overflow:hidden;text-indent:100%;white-space:nowrap;vertical-align:middle;}
.sub_top .snsBox>ul>li.share>a:before{content:'';position:absolute;left:0;top:0;width:100%;height:100%;background:url('../imgs/sub/share_icon.svg') no-repeat 50%;background-size:18px;}
.sub_top .snsBox>ul>li.share.on>a:before{}
.sub_top .snsBox>ul>li.share.on ul{display:flex;align-items:center;}
.sub_top .snsBox>ul ul{display:none;position:relative;padding:0 10px;}
.sub_top .snsBox>ul ul:after{content:'';position:absolute;top:50%;right:0;width:1px;height:18px;margin-top:-9px;background:#cfcfcf;}
.sub_top .snsBox>ul ul>li{margin:0 0 0 11px;}
.sub_top .snsBox>ul ul>li:first-child{margin-left:0;}
.sub_top .snsBox>ul ul>li>a{display:block;font-size:0;}
.sub_top .snsBox>ul ul>li>a img{width:26px;}
.sub_top .snsBox a.sns_close{display:none;}
.sub_top .snsBox .url{}
.sub_top .snsBox .url a{position:relative;padding:0 12px 0 0;font-size:13px;font-weight:400;text-decoration:underline;}
.sub_top .snsBox .url a:after{content:'';position:absolute;right:0;top:2px;width:8px;height:10px;background:url('../../home/imgs/sub/url_arr.png') no-repeat 0 0;background-size:8px 10px;}

@media all and (max-width:640px){
	.sub_top .snsBox>ul ul>li{margin:7px 0 0 11px;}
	.sub_top .snsBox .url {margin-top: 0; line-height: 12px;}
}

.leftColumn{float:left;width:250px;width:17.85714285714286%;margin:0 2.8578% 50px 0;}
.leftColumn+.centerColumn{float:left;width:79.28571428571429%;margin-bottom:100px;}
.centerColumn{float:none;width:100%;}
.contentBody{margin:34px 0 0;}
.contentBody .title1:first-of-type{margin-top:0;}
.contentBody * + .title1{margin-top: 50px !important}  
@media all and (max-width:1024px){
	.contentBody * + .title1{margin-top: 30px;}
}

.subMenu h2{padding-bottom:15px;border-bottom:2px solid #222;font-family:'SCDream';font-size:25px;font-weight:500;}
.subMenu h2 span {}
.subMenu>ul{margin-top:10px;}
.subMenu>ul>li{margin-top:3px;}
.subMenu>ul>li>a{position:relative;z-index:1;display:block;padding:12px 20px;font-size:18px;font-weight:400;color:#222;word-break:keep-all;overflow-wrap:break-word;}
.subMenu>ul>li.h3m>a:after{content:'';display:block;position:absolute;top:50%;right:20px;width:12px;height:12px;margin-top:-6px;background:url('../../home/imgs/sub/i_submenu.svg') no-repeat 0 0;}
.subMenu>ul>li.on>a{border-radius:25px;background:#407aec;font-weight:500;color:#fff;}
.subMenu>ul>li.on>a:after{background-position:0 -12px;}
.subMenu ul ul{padding:12px 20px;}
.subMenu ul ul>li{margin-top:2px;}
.subMenu ul ul>li:first-child{margin-top:0;}
.subMenu ul ul>li>a{position:relative;display:block;padding:3px 0 3px 12px;font-size:16px;font-weight:300;color:#747474;}
.subMenu ul ul>li>a:before{content:'';position:absolute;top:50%;left:0;width:4px;height:4px;margin-top:-2px;border-radius:2px;background:#ee2a7b;}
.subMenu ul ul>li.on>a{font-weight:400;color:#222;}
.subMenu ul ul ul{margin-top:3px;padding:10px 15px;background:#fff;border:1px solid #f4f6fa;border-radius:10px;}
.subMenu ul ul ul li a{color:#666;padding:7px 10px;font-weight:300;}
.subMenu ul ul ul li a:before{width:3px;height:3px;border:1px solid #847c7a;background:none;}
.subMenu ul ul ul li.on a{color:#000;}
.subMenu ul ul ul li.on a:before{border-color:#000;background:none;}
.subMenu ul ul li a[target="_blank"] span{position:static;display:inline-block;vertical-align:middle;width:13px;height:13px;margin-left:5px;}
.menu_tab4{margin:0 0 40px;overflow-x: auto;}
.menu_tab4 ul{display:inline-flex;min-width: 100%;border-bottom:1px solid #222;}
.menu_tab4 li{min-width:220px;margin-right:1px;}
.menu_tab4 li a{display:block;padding:10px 0;background:#f2f2f2;font-size:20px;font-weight:400;text-align:center;}
.menu_tab4 li.on a{background:#222;font-weight:500;color:#fff;}
@media all and (max-width:1200px) {
}
@media all and (max-width:1024px) {	
	.leftColumn{display:none;}
	.centerColumn{float:none;width:auto;padding:0 20px;}
	.leftColumn+.centerColumn{width:100%;}
	.location_wrap{padding:13px 20px 15px;}
	.location a.home{width:18px;height:18px;border-radius:16px;background-size:12px;}
	.location span{padding-left:20px;background-position:7px 50%;font-size:13px;}
	.sub_top .wrap{position:relative;}
	.sub_top h3{font-size:24px;}
	.sub_top .snsBox li.print{display:none;} 
	
}
@media all and (max-width:640px) {
	.menu_tab4 ul{display:block;border-radius:0;}
	.menu_tab4 li{border:0;border-top:1px solid #e1e1e1;}
	.menu_tab4 li:first-child{border:0;}
	.menu_tab4 li a{padding:12px 20px;text-align:center;}
	.menu_tab4 li.on a:before{box-shadow:none;border-radius:0;}
	.leftColumn+.centerColumn { margin-bottom:20px; }
	.sub_top .snsBox { top:-6px; }
}
@media all and (max-width:480px) {
	.centerColumn { padding:0 15px; }	
	.contentBody { margin:20px 0 0 0; }
	.sub_top h3 { margin:0 0 20px; }
}