@charset "utf-8";

#subWrapper{position:relative; width:100%;overflow:hidden;}
#subWrapper #content{background:url('../imgs/sub/sub_bg.png') no-repeat 0 0;}
.leftColumn{float:left;width:17.8%;margin-top:85px;font-family: 'Noto Sans KR';}
.centerContent{float:right;width:77.1%;padding-top:170px;}

.subMenu h2{display:table-cell;width:500px;height:117px;background:#2164ce;vertical-align:middle;text-align:center;font-size:28px;color:#fff;font-weight:500;border-radius:10px 10px 0 0;}
.subMenu ul{border-top:1px solid #dfdfdf;}
.subMenu ul li a{position:relative;display:block;padding:19px 50px 19px 15px;border:1px solid #dfdfdf;border-top:0;background:#fff url('../imgs/header/lnb_off.png') no-repeat center right 15px;font-size:18px;color:#555;font-weight:400;}
.subMenu ul li a:before{position:absolute;content:'';display:block;}
.subMenu>ul>li.on>a{font-size:19px;color:#2164ce;font-weight:500;background-image:url('../imgs/sub/submenu_arr.png');}
.subMenu>ul>li.on>a:before{top:-1px;left:-1px;width:101%;height:101%;border:1px solid #4572ba;box-shadow:5px 5px 8px rgba(22,49,91,0.15);}
.subMenu ul ul{margin:0;border:1px solid #dfdfdf;border-top:0;padding:10px 14px;background:#f9f9f9;}
.subMenu ul ul li a{border:0;padding:9px 10px;font-size:16px;background:none;}
.subMenu ul ul li a:before{top:15px;left:0;width:5px;height:5px;background:#738197;border-radius:100px;}
.subMenu>ul>li>ul>li.on>a{color:#194996;}
.subMenu>ul>li>ul>li.on>a:before{background:#194996;}
.subMenu ul ul ul{margin:0 0 8px;border:0;padding:8px 15px;background:#fff;}
.subMenu ul ul ul li a{min-height:auto;font-size:15px;padding:2px 0;}
.subMenu ul ul ul li a:before{display:none;}
.subMenu ul ul ul li.on a{color:#0f99ee;text-decoration:underline;}

.sub_top{position:absolute;top:0;left:0;width:100%;height:170px;text-align:center;font-family: 'Noto Sans KR';}
.sub_top h3{font-size:31px;color:#253360;font-weight:600;line-height:1.5;margin:50px 0 0;}
.sub_top .location span, .sub_top .location strong{font-size:16px;color:#666;font-weight:300;background:url('../imgs/sub/loc_arr.png') no-repeat 12px 50%;padding-left:30px;}
.sub_top .snsBox{position:absolute;top:85px;right:0;}
.sub_top .snsBox>ul>li{position:relative;float:left;margin:0 4px;}
.sub_top .snsBox>ul>li>a{display:block;width:40px;height:40px;text-indent:-9999px;overflow:hidden;border:1px solid #c4e0f5;border-radius:10px;box-shadow:3px 3px 9px rgba(0,0,0,0.1);}
.sub_top .snsBox ul ul{display:none;position:absolute;top:0;right:0;width:206px;border:1px solid #395689;border-radius:10px;background:#fff;z-index:1;box-shadow:3px 3px 9px rgba(0,0,0,0.1);}
.sub_top .snsBox li li a{float:left;margin:0 2px;}
.sub_top .snsBox li li a img{vertical-align:middle;}
.sub_top .snsBox a.sns_open{background:#fff url('../imgs/sub/sns_open.png') no-repeat 50%;}
.sub_top .snsBox li.print a{background:#fff url('../imgs/sub/print_icon.png') no-repeat 50%;}
.sub_top .snsBox li.print a:hover{background:#395689 url('../imgs/sub/print_on.png') no-repeat 50%;border-color:#395689;}
.sub_top .snsBox a.sns_close{display:none;position:absolute;top:0;right:0;z-index:1;margin:0;border-color:#395689;border-radius:0 10px 10px 0;background:#395689 url('../imgs/sub/sns_close.png') no-repeat 50%;}
.menu4Tab{margin:0 0 30px;font-size:0;}
.menu4Tab ul, .menu4Tab li{display:inline-block;}
.menu4Tab li a{position:relative;display:block;padding:15px 35px 14px;font-size:18px;color:#666;font-weight:400;background:#fff;border:1px solid #e1e1e1;border-left:0;box-shadow:5px 5px 10px rgba(0,0,0,0.1);}
.menu4Tab li:first-child a{border-left:1px solid #e1e1e1}
.menu4Tab li.on a{color:#0f99ee;background:#f6fbfd;font-weight:500;}
.menu4Tab li.on a:before{position:absolute;top:-1px;left:-1px;z-index:1;content:'';display:block;width:100%;height:100%;border:1px solid #0f99ee;box-shadow:5px 5px 10px rgba(7,63,119,0.16);}
@media all and (max-width:1200px) {
	#subWrapper #content{background:none;}
	.leftColumn{display:none;}
	.centerContent{float:none;width:auto;padding:0;}
	.contentBody{margin:50px 3%;}
	.sub_top{position:relative;width:auto;height:auto;padding:40px 2%;background:url('../imgs/sub/sub_bg.png') no-repeat;background-size:cover;}
	.sub_top h3{margin:0;}
	.sub_top .snsBox{right:2%;}
}
@media all and (max-width:1024px) {
	.sub_top{padding-bottom:60px;}
	.sub_top .snsBox{top:auto;bottom:15px;}
	.sub_top .snsBox li.print{display:none;}
}
@media all and (max-width:640px) {
	.menu4Tab ul, .menu4Tab li{display:block;}
	.menu4Tab li a{border:1px solid #e1e1e1;border-top:0;text-align:center;}
	.menu4Tab li.on a:before{box-shadow:none;}
}