@charset "UTF-8";

.input_for {
	width: 100%;
}
.input_50 {
	width: 100%;
	max-width: 500px;
}
.input_30 {
	width: 100%;
	max-width: 300px;
}

input,
select,
textarea {
	font-size: 1rem;

	@include mdq-max(md) {
		font-size: 14px;
	}
}

.table-btn-01,
input[type='file'],
input[type='date'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select {
	height: $input-height;
	border: solid 1px $input-border;
	padding: 0 rem(16);
	border-radius: rem(6);

    &::placeholder {
        color: #666 !important;
    }

	&:disabled, &[readonly]{
		border-color: #D2D2D2 !important;
		background-color: #F8F8F8 !important;
		pointer-events: none;
		color:#666 !important
	}

	@include mdq-max(lg) {
		height: $input-height-lg;
		border-radius: 4px;
	}
	
	&.no-style{
		height: auto;
		padding: 10px;
		border: 0;
		background-color: transparent;
	}

	&.form-control{
        @extend %form-control;
    }
}

%form-control{
    display: block;
    width: 100%;
    height: $form-control-height;
    padding: 0 em(16);
    border: 1px solid #ECECEC;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: none !important;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: #666;
    text-align: left;
    appearance: none;

    &:disabled, &[readonly]{
      border-color: #D2D2D2 !important;
      background-color: #F8F8F8 !important;
      color: #727272 !important;
      color:#666 !important
    }

    &::placeholder {
      color: #666 !important;
		  font-weight: 400;
    }
	
	&.form-icon{
		padding-right: 42px !important;
	}

  @include mdq-max(lg) {
    height: $form-control-height-lg;
    // font-size: 14px;
    padding: 0 10px;

    &.form-icon{
      padding-right: 40px !important;
    }
	}

}

.input-cover{
      @extend %form-control;  
    
      &:focus-within{
      outline: 1px solid #407aec;
      -webkit-box-shadow: 0 0 0 2px #407aec;
      box-shadow: 0 0 0 2px #407aec;
    }

 
}

.form-btn{
	position: absolute;
	top: 0;
	right: 0;

	[class^=icon]{
		width: $form-control-height;
		height: $form-control-height;
		background-repeat: no-repeat; 
		background-position: center right 20px;
		background-size: 20px auto;
	}
	
    @include mdq-max(lg) {
		[class^=icon]{
			width: $form-control-height-lg;
			height: $form-control-height-lg;
			background-position: center right 16px;
			background-size: 16px auto;
		}
	}
}

textarea{
    &.form-control{
      @extend %form-control;
      padding: em(20);
      height: auto;
      line-height: 1.334;
    }
}

select{
    &.form-control{
      @extend %form-control;
      padding-right: 42px !important;
      background:#fff url(../images/common/icon_form_arr.svg) no-repeat center right 12px / 18px auto;

      &:focus{
        background-image: url(../images/common/icon_form_arr_on.svg);
      }

      @include mdq-max(md) {
        padding-right: 32px !important;
        background-position: center right 8px;
        background-size: 16px auto;
      }
    }

    &.no-style{
        background: none !important;
    }

    option{
        font-weight: inherit;
    }

}

.form-input-group > select{
    @extend %form-control;
    padding-right: 42px !important;
    background: #fff url(../images/common/icon_form_arr.svg) no-repeat center right 12px / 18px auto;

    &:focus{
      background-image: url(../images/common/icon_form_arr_on.svg);
    }
    
    @include mdq-max(md) {
      padding-right: 32px !important;
      background-position: center right 8px;
      background-size: 16px auto;
    }
}

.dropdown {
    &.form-control{
        padding-right: 64px;
        background: #fff url(../images/common/icon_form_arr.svg) no-repeat center right 12px / 18px auto;
    }

    &.form-control.show{
        background-image: url(../images/common/icon_form_arr_on.svg);
    }
}

.form{
    &-control{
        @extend %form-control;

        .input-label--radio{
          input{
            width: rem(20);
            height: rem(20);
          }
          
          span{
            font-size: 16px;

            @include mdq-max(md) {
              font-size: 14px;
            }
          }
        }

        .input-label--checkbox{
          span{
            font-size: 16px;
            
            @include mdq-max(md) {
              font-size: 14px;
            }
          }
        }
    }

    &-label{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        
        .tit{
            font-size: 18px;
            font-weight: 700;
            line-height: 1.5;

            &.required{
            position: relative;
                
                &:after{
                    content:'*';
                    position: absolute;
                    top: -0.1em;
                    margin-left: 2px;
                    font-size: 0.9em;
                    font-weight: 500;
                    color: red;
                }
            }
        }
    
        &>*:last-child:not(:first-child){
            margin-left: auto;
        }
    }
}

.input{
    &-area{
        display: flex;
        align-items: center;
        width: 100%;
        gap: 10px;
    }
}

* + .input-area{
    margin-top: 8px;
}

%form-chk{
    --input-size: 24px;
    line-height: 1.286;
    font-size: 14px;

    &:not(:last-child){
        margin-right: rem(13);
    }

    input{
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;

        &[type='checkbox'],
        &[type='radio']{
            display: none;
        }
    }

    label {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: var(--input-size);
        height: var(--input-size);
        padding-top: 0.2em;

        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: var(--input-size);
            height: var(--input-size);
            background-size: 100% auto;
            background-position: center;
            background-repeat: no-repeat;
        }

        &.input-label{
            width: auto;
            padding-left: calc(var(--input-size) + #{rem(8)});
        }
    }
}

.form-chkbx{
    @extend %form-chk;

    label:before{
        background-image: url(../images/icon/icon_chkbx.svg)
    }
    
    input{
        &:checked + label:before {
            background-image: url(../images/icon/icon_chkbx_on.svg)
        }

        &:disabled + label:before{
            background-image: url(../images/icon/icon_chkbx_off.svg)
        }
    }
}

// radio
.form-radio{
    @extend %form-chk;

    label:before{
        background-image: url(../images/icon/icon_radio.svg)
    }

    input{
        &:checked + label:before {
            background-image: url(../images/icon/icon_radio_on.svg)
        }

        &:disabled + label:before{
            background-image: url(../images/icon/icon_radio_off.svg)
        }
    }
}

.invalid-text{
    padding: 4px 0 0;
    font-weight: 500;
    font-size: 12px;
    color: red;
}

.chk-item{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;

    & + label {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 24px;
        height: 24px;
        
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: auto;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../images/icon/icon_chkbox.svg)
        }
    }

    &:checked + label:before {
        background-image: url(../images/icon/icon_chkbox_on.svg)
    }
}

.read-bx{
	border: solid 1px $input-border;
	padding: 0.641rem  rem(16);
	border-radius: rem(6);
	font-size: rem(17);
}

select {
	text-overflow: ellipsis;
	width: 100%;
	// background: url(../images/icon/select_down.png) no-repeat;
	// background-position: 100% 50%;
	// background-size: auto rem(15);

	&::-ms-expand {
		display: none;
	}

	&.no-style{
		margin: -5px 0;
		background-position: calc(100% - 6px) center;
	}

	@at-root {
		.lt-ie10 select {
			font-family: inherit;
			background: none;
			padding: 0;

			&:before {
				display: block;
				position: absolute;
				content: '';
				right: 0px;
				top: 0px;
				height: 1em;
				width: 1em;
				margin: 2px;
				// background: red;
				z-index: 5;
			}
		}

		.lt-ie9 select {
			font-family: inherit;
			background: none;
			padding: 6px;
		}
	}
}

textarea {
	border: solid 1px $input-border;
	background-color: #fff;
	overflow: auto;
	min-height: 127px;
	width: 100%;
	box-sizing: border-box;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: rem(6);
	resize: none;
	padding: rem(16);

	&.txtarea {
		width: 100%;
		overflow-y: auto;
	}

	&[rows]{
		min-height: auto;
	}

	&:disabled, &[readonly]{
		border-color: #c6c6c6 !important;
		background-color: #D8D8D8 !important;
		pointer-events: none;
		color:#717171 !important
	}
}

//나눔스퀘어등 사용시 password input 에서 타이핑표시(**)가 되지 않는 문제 fix
input[type='password'] {
	font-family: inherit;
	font-family: 'Noto Sans KR', sans-serif;

	&:placeholder-shown {
		font-family: $font-family-sans-serif;
	}
}

input[type='checkbox'],
input[type='radio'] {
	width: rem(18);
	height: rem(18);

	&:disabled:not([checked]), &[readonly]:not([checked]){
		border-color: #c6c6c6 !important;
		background-color: #D8D8D8 !important;
		pointer-events: none;
		color:#717171 !important
	}
}

.area_for {
	padding: rem(10);
	width: 100%;
	box-sizing: border-box;
	height: 150px;
	overflow-y: auto;
}

// 인풋커스텀
.input_date {
	background: url(../images/icon/i_calendar.png) no-repeat right center;
	@include mdq-max(lg) {
		background-size: 20px;
	}
}

.input_find {
	max-width: 500px;
	$w: 100px;
	padding-right: $w + 10px;
	position: relative;

	input {
		width: 100%;
		max-width: 100%;
	}

	.table-btn-01 {
		width: $w;
		position: absolute;
		top: 0;
		right: 0;
		padding: 0;
	}

	@include mdq-max(lg) {
		$w: 70px;
		padding-right: $w + 5px;
		.table-btn-01 {
			width: $w;
		}
	}
}

.input-area{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;

    & > *:not([class*=w]) {
        flex: 0 1 100%;
        min-width: 0;
        max-width: 100%;
      }
  
    [class*=w] {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
    }


    &:not(:first-child){
        margin-top:8px;
    }
}

.input-type-ab {
    @extend %form-control;
    
    &:focus-within{
      outline: 1px solid #407aec;
      -webkit-box-shadow: 0 0 0 2px #407aec;
      box-shadow: 0 0 0 2px #407aec;
    }
  
    input {
      padding-right: 0;
      text-align: right;
      border: 0;
      background-color: transparent;
  
      &:focus, &:focus-visible{
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
  
      &:disabled, &[readonly]{
        background-color: transparent !important;
      }
    }
  
    & > span {
      flex: 0 0 auto !important;
      display: inline-block;
      line-height: calc( $form-control-height - 1px );
      
      @include mdq-max(lg) {
        line-height: calc( $form-control-height-lg - 1px );
      }
    }
  
    &.disabled, &.readonly {
        background-color: #F8F8F8 !important;
        border: 1px solid #dedede;
        color: #666 !important;
  
      input {
        pointer-events: none;
        color:#666 !important
      }
    }
}
  
.input-group {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 8px;
  
    label{
      margin-right: 0;
    }
  
    label:not(:first-child, .file-label) {
      margin-top: rem(22);
  
      &.w-100 {
        margin-right: 0;
      }
    }
  
    .input-label--checkbox input{
      width: rem(24);
      height: rem(24);
    }
    
    .w-auto{
      flex: 0 0 auto;
      align-self: center;
    }

    .form-control{
      flex: 1;
    }

    &.bx {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 0 10px 10px;
      border-radius: 12px;
      border: 1px solid #e4e4e4;
  
      label:not(.file-label) {
        margin-top: rem(12);
      }
    }
}
  
.input-label {
    &--radio {
      display: inline-flex;
      align-items: flex-start;
      font-size: rem(17);
      line-height: 1.4;
      text-align: left;
  
      input {
        position: relative;
        appearance: none;
        width: rem(24);
        height: rem(24);
        margin-right: 8px;
        border-radius: 50%;
        border: 2px solid #717171;
        background-color: #fff;
        cursor: pointer;
        transition: all 0.3s;
        font-size: inherit;
        
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: .65em;
          height: .65em;
          background: $blue;
          border-radius: 50%;
          opacity: 0;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          transition: all 0.3s;
        }
  
        &:checked {
          border-color: $blue;
          &:after {
            opacity: 1;
          }
        }
  
        // &:disabled:after, &[readonly]:after{
        //   background: #aaa;
        // }
        
          @include mdq-max(md) {
            border-width: 1px;
          }
      }
  
      span {
        flex: 1;
      }
      
      &.form-control{
        align-items: center;

        input{
          width: rem(20);
          height: rem(20);
        }
        
        span{
          font-size: 16px;
          
          @include mdq-max(md) {
            font-size: 14px;
          }
        }
      }
    }
  
    &--checkbox {
      display: inline-flex;
      align-items: flex-start;
      vertical-align: middle;
      font-size: rem(17);
      line-height: 1.4;
      text-align: left;
  
      input {
        appearance: none;
        width: rem(20);
        height: rem(20);
        border: 1px solid #717171;
        border-radius: 4px;
        background-color:#fff;
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center center;
        cursor: pointer;
        transition: all 0.3s;
  
        &:checked {
          border-color: $blue;
          background-color: $blue;
          background-image: url(../images/sub/icon_chkbx.svg);
        }
      }
  
      .input-label__txt {
        flex: 1;
        margin-left: .5rem;
        line-height: 1.25;
      }
  
      & + .tb{
        margin-top: 1rem;
      }
  
      &.md input{
        margin-top: 1px;
      }

      &.form-control{
        align-items: center;

        span{
          font-size: 16px;

          @include mdq-max(md) {
            font-size: 14px;
          }
        }
      }
    }
  
    &--chkbx {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
  
      & + label {
        display: inline-block;
        width: rem(24);
        height: rem(24);
        vertical-align: middle;
        border-radius: 4px;
        border: 1px solid #717171;
        background-color: #fff;
      }
  
      &:checked + label {
        border-color: $blue;
        background: $blue url(../images/sub/icon_chkbx.svg) no-repeat center / 16px;
      }
  
      &:focus-visible + label{
        outline: 1px solid #407aec;
        -webkit-box-shadow: 0 0 0 2px #407aec;
        box-shadow: 0 0 0 2px #407aec;
      }
    }

    &--tab{
      input{
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;

        &:checked + .input-label__txt{
            background-color: #246BEB;
            border-color: #246BEB;
            color:#fff;
        }

        &:disabled + .input-label__txt{
          pointer-events: none;
          border-color: #D2D2D2 !important;
          background-color: #F8F8F8 !important;
          color: #666;
        }
      }
      
      .input-label__txt{
          display: inline-block;
          padding: 8px 20px;
          line-height: 1.286;
          border-radius: 4px;
          border: 1px solid #E6E6E6;
          border-radius: 90px;
          background-color: #FFF;
          font-size: 14px;
          font-weight: 500;
          color:#222;
          word-break: break-all;
          cursor: pointer;
          // transition: .25s;

          @include mdq-max(lg) {
            padding: 6px 16px;
          }
      }
    }
}